body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  background: #3c55a8;
}

a {
  color: rgba(255, 255, 255, 0.6);
}

#rain-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rain-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}

#rain-container.day-clear::before {
  background: linear-gradient(
    180deg,
    rgb(67, 122, 210) 0%,
    rgb(61, 178, 201) 100%
  );
  opacity: 1;
}

#rain-container.day-rain::before {
  background: linear-gradient(
    180deg,
    rgb(98, 117, 146) 0%,
    rgb(121, 153, 159) 100%
  );
  opacity: 1;
}

#rain-container.night-clear::before {
  background: linear-gradient(
    180deg,
    rgb(14, 35, 64) 0%,
    rgb(22, 73, 143) 100%
  );
  opacity: 1;
}

#rain-container.night-rain::before {
  background: linear-gradient(180deg, rgb(34, 42, 53) 0%, rgb(41, 63, 93) 100%);
  opacity: 1;
}

#result {
  font-size: 96px;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer {
  position: fixed;
  font-size: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#data {
  color: rgba(255, 255, 255, 0.5);
  bottom: 10px;
  right: 10px;
  left: 10px;
}
